<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>version</key>
        <integer>1</integer>
        
        <key>subjectNames</key>
        <dict>
            <key>3450</key>
            <string>Mathematics</string>
            <key>3460</key>
            <string>Computer Science</string>
            <key>3470</key>
            <string>Statistics</string>
            <key>4450</key>
            <string>Computer Engineering</string>
            <key>6500</key>
            <string>Business</string>
        </dict>
        
        <key>courses</key>
        <array>
            <dict>
                <key>subject</key>
                <string>3470</string>
                <key>number</key>
                <string>401</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Probability and Statistics for Engineers</string>
                <key>credits</key>
                <integer>2</integer>
                <key>description</key>
                <string>Introduction to probability, statistics, random variables, data descriptions, statistical inference, confidence intervals, hypothesis testing, design of experiments, and applications of statistics to engineering.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3470</string>
                        <key>number</key>
                        <string>461</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3470</string>
                <key>number</key>
                <string>461</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Applied Statistics I</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>Applications of statistical theory to natural and physical sciences and engineering, including probability distributions, interval estimation, hypotheses testing (parametric and nonparametric), and simple linear regression and correlation. May not be used to meet graduate major requirements in statistics. </string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3470</string>
                        <key>number</key>
                        <string>401</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>4450</string>
                <key>number</key>
                <string>320</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Computer Systems</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Explores the principles underlying the design and implementation of modern computer systems with emphasis on operating systems.Fundamental topics in computer architecture and parallel/distributed computing are also covered.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3450</string>
                <key>number</key>
                <string>208</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Introduction to Discrete Mathematics</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>A foundation course in discrete mathematics with applications. Topics include sets, number systems, string Algebra, logic, relations, functions, recursion, matrices, induction, graphs, and trees.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3450</string>
                <key>number</key>
                <string>221</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Analytic Geometry-Calculus I</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>This course covers the calculus of algebraic and transcendental functions. Analytic geometry topics are limited to the line and circle. Calculus topics include limits, differentiation and integration of both algebraic and transcendental functions, including trigonometric functions, with applications.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3450</string>
                <key>number</key>
                <string>222</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Analytic Geometry-Calculus II</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>Continuation of the Analytic Geometry-Calculus I course with a focus on sequence and series along with integration techniques.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3450</string>
                        <key>number</key>
                        <string>221</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>6500</string>
                <key>number</key>
                <string>301</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Management: Principles and Concepts</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>This course provides a basic framework for understanding the role and functions of a manager and to explain the principles, concepts, and techniques that can be used in carrying out these functions. It is intended for those who presently hold, or desire to hold, management responsibilities in any organization or enterprise. Specific topics include planning, decision making, organizing, leading, controlling, and innovating.</string>
                <key>tags</key>
                <array>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>6500</string>
                <key>number</key>
                <string>480</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Introduction to Health-Care Management</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Introductory course for health professionals covering principles and concepts of management applied to health services organizations. For those registered for graduate credit, a major paper is required</string>
                <key>tags</key>
                <array>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>6500</string>
                <key>number</key>
                <string>310</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Business Information Systems</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Information technology (IT) is a key component and enabler of business transformation. Focuses on how business processes can be (re)designed and business decisions can be supported with emphasis on the IT perspective. Business cases involving IT-driven and IT-enabled decision situations and business transformations are used.</string>
                <key>tags</key>
                <array>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>209</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Computer Science I</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>This course introduces the students to the fundamental concepts in computer science. After a short description of computer hardware, it concentrates on the basic constructs of a high-level, object-oriented programming language: data types, arithmetic operations, control structures, methods, classes, arrays, strings, and IO. Extensive lab and programming assignments will help students to practice using the constructs to solve problems.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>210</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Computer Science II</string>
                <key>credits</key>
                <integer>4</integer>
                <key>description</key>
                <string>A continuation of the study of programming theory and practice studied in Introduction to Computer Science. Some elementary data structures, their implementation and basic searching and sorting algorithms are introduced. There is also a laboratory component to this course.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>209</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>307</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Internet Systems Programming</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Understand basic HTML concepts, including CSS, forms, client-side scripting, and DHTML. Understand the basic concepts of WWW client-server communications and be able to create CGI applications to support form processing. Know what XML is and how it can be used. Learn to develop applets and basic socket level communications in Java.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>210</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>316</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Data Structures</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Fundamental techniques in design and analysis of non-numerical algorithms and data structures. Topics include lists, stacks, queues, trees, graphs, searching, sorting, and hash algorithms.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>210</string>
                    </dict>
                    <dict>
                        <key>subject</key>
                        <string>3450</string>
                        <key>number</key>
                        <string>221</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>408</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Windows Programming</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Windows operating systems, integrated development environment, event-driven programming, graphical user interface design, using object libraries, component object model, object linking and embedding, client-server objects.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>210</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>421</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Object Oriented Programming</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>An introduction to the object-oriented paradigm and how it relates to other models. Covers Unified Modeling Language (UML), C++, Design Patterns, Design by Contract, CRC Cards.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>426</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Operating Systems</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Operating systems define a user’s view of a computer and define the environment in which programs run. The course focuses on those aspects of o.s. design and construction which affect the behavior of application programs.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>4450</string>
                        <key>number</key>
                        <string>320</string>
                    </dict>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>4450</string>
                        <key>number</key>
                        <string>325</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>4450</string>
                <key>number</key>
                <string>325</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Operating Systems Concepts</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Modem computer system design. Application of concepts of process management memory management, file systems, I/O systems, protection &amp; security. Distributed &amp; network operating systems.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>4450</string>
                        <key>number</key>
                        <string>320</string>
                    </dict>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>426</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>428</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Unix System Programming</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>The successful student will be able to program the Bash shells, effectively utilize a Unix system, write utilities in C using low-level kernel calls, understand process creation, dynamic memory allocation, signals, low-level I/O, pipes, and sockets. The student will complete projects using UNIX utilities and the C API of UNIX.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>435</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Algorithms</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>TThis course begins by covering the basic mathematical ideas needed to analyze the running times of algorithms, including asymptotic analysis and solutions to common recurrence relations. These tools are then utilized to analyze running time of basic solutions to a variety of classic problems. In many cases, alternative approaches are demonstrated to realize significant speedups. This course not only prepares students to understand the fundamental principles of analysis of algorithms, but also introduces important algorithms for commonly encountered problems. An introduction to NP- Complete problems may be included.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                    <dict>
                        <key>subject</key>
                        <string>3450</string>
                        <key>number</key>
                        <string>208</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>440</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Compiler Design</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>This course is designed to introduce the theory and practice of compiler construction. A major component of the course will involve the design and implementation of a compiler, providing experience for large scale software development.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>445</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Introduction to Bioinformatics</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Bioinformatics is an interdisciplinary field that studies biological systems and biological data (such as DNA/protein sequences, macromolecular structures and functional genomics data) using analytic theory and practical tools of computer science, mathematics and statistics. The goal of this course is to provide students with a broad scope of the new field, introduce the fundamental methods and techniques, and discuss major topics and state-of-art research in bioinformatics. The topics include basic concepts of molecular genetics, biological databases, database searching, sequence alignments, phylogenetic trees, structure prediction, and microarray data analysis.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>453</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Computer Security</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>We will cover a wide range of topics including privacy, spam techniques, phishing, pharming, viruses, worms, network security, intrusion detection, web attacks and rootkits. There will be weekly papers to read and answer questions on and a lab accompanying each topic. This is not a hacking class, although some hacking techniques will be studied to understand how vulnerabilities are exposed and systems and software are exploited.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>455</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Data Communication and Computer Networks</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>An introductory course that covers the basic concepts involved in data communications and computer networks. Emphasis will be on analysis of communication protocol layers with respect to performance, error handling, and control functions. Special attention will be given to Client/Server model of interaction, and TCP/IP technology.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>457</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Computer Graphics</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>This course will expose the student to the fundamental concepts in computer graphics: vector/raster graphics, pixel, GDI, graphics API, graphics primitives, geometry, attributes, interactive graphics, event handling, device measure, bitBlt, raster operations, geometric transformations (translation, scaling, rotation and shearing), homogenous coordinate system, composite transformations, 3D transformations, parallel/perspective projections, foreshortening, animation, motion and update dynamics, key frames, inbetweening, LUT animation, double buffering, gamma correction, dithering, color models (CIE, RGB, CMY, CMYK, YIQ, HSV), lighting, shading, material properties, ambient/diffusive/specular reflections, recursive ray-tracing, virtual reality, VRML, texture mapping, sound effects, scan conversion, clipping, frame buffer, graphic processors, AtoD converters. Students will also write graphics programs.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>460</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Artificial Intelligence and Heuristic Programming</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Study basic ideas in AI and methods for knowledge representation, manipulation, organization, and acquisition. Study rule-based, knowledge-based, and machine learning systems and their applications. </string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>475</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Database Management</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Study basic concepts in database systems. Develop database applications in SQL and embedded SQL.</string>
                <key>tags</key>
                <array>
                    <string>management-core</string>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>477</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Introduction to Parallel Processing</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>A broad introduction to basic parallel programming techniques using simple examples. Emphasis is placed on developing parallel algorithms.</string>
                <key>tags</key>
                <array>
                    <string>elective</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>480</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Software Engineering</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>Cost control in software design and development has been an industry wide problem affecting nearly all efforts in all companies. Lack of control results in project cancellation, loss of market opportunities and lost revenues. Software engineers exposed to the true costs of development, management techniques, decision making processes and tools are much better equipped to compete in an increasingly competitive industry. This course details industry accepted practices while focusing upon the IEEE standard software development process.</string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                    <dict>
                        <key>subject</key>
                        <string>3460</string>
                        <key>number</key>
                        <string>316</string>
                    </dict>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
            <dict>
                <key>subject</key>
                <string>3460</string>
                <key>number</key>
                <string>490</string>
                <key>available</key>
                <string>1</string>
                <key>name</key>
                <string>Senior Seminar</string>
                <key>credits</key>
                <integer>3</integer>
                <key>description</key>
                <string>The broad formal description leaves much room for the instructor to tailor the class to his/her own interests. Typically, this course studies the social impact, implications and effects of computers on society, and the responsibilities of computer professionals in directing the emerging technology. Includes examinations of reliable, risk-free technologies, systems which provide user friendly processes. Specific topics may include an overview of the history of computing, computer applications and their impact, the computing profession, and the legal and ethical responsibilities of professionals. </string>
                <key>tags</key>
                <array>
                    <string>systems-core</string>
                    <string>management-core</string>
                </array>
                <key>prerequisites</key>
                <array>
                </array>
                <key>alternatives</key>
                <array>
                </array>
            </dict>
        </array>
    </dict>
</plist>
